body 
{
    font-family:'Comic Sans MS';
}

.like_div
{
    font-family:Calibri;
    border:2px solid black;
    padding-left:1%;
    padding-right:1%;

    color:white;
    background-color:#5c87b2;
    position:absolute;
    margin-left:5%;
    font-size:12pt;
    font-weight:bold;
    /*/font-style:oblique;*/
    /*margin-top:-150px;*/
}

.like_span
{

}

#arrow_img
{
    height:20px;
    width:15px;
    margin-right:auto;
    margin-left:auto;
}

#like_counter
{
    font-size:10pt;
    font-weight:bold;
    
}

.like_count
{
}

#btnSubmit
{
    background-color:blue;
}

abbr
{
    color:red;
}
